<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.portes.wikihikingosm.feature.routes.HikingRouteActivity"
            android:exported="true"
            android:theme="@style/App.Theme.WikiHikingOsm">
        </activity>
    </application>
</manifest>